<template>
  <div class="secure">
    <h1>VERIFICATION DE DIPLOMES</h1>
    <input type="text" v-model="code" placeholder="Saisir le code du diplome">
    <button type="button" v-on:click="verify()">Login</button>
    <br>
    <div>
      <ul>
        <li v-for="diploma in retrievedDiploma" v-bind:key="diploma.code">
          {{diploma.code}}  Download Link : <a :href="diploma.downloadLink" :integrity="diploma.hashintegrity" target="_blank">{{diploma.downloadLink}}</a>
          
        </li>
      </ul>
    </div>
  </div>
  
</template>


<script>
    export default {
        name: 'Secure',
        data() {
          return {
            code : "",
            retrievedDiploma: "",
          }
        },
        mounted() {
            if(!this.$parent.authenticated) {
                this.$router.replace({ name: "Login" });
            }
        },
        methods: {
          verify() {
                console.log("welcome");
                console.log(this.code)
                if(this.code != "") {
                  this.retrievedDiploma = this.$parent.diplomas.filter(el => el.code==this.code);
                  if( this.retrievedDiploma.length <=0){
                      alert("Code de diplome invalide")
                  }
                  
                  
                    // This should actually be an api call not a check against this.$parent.mockAccount
                    /*if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "Secure" });
                    } else {
                        console.log("The username and / or password is incorrect");
                    }*/
                } else {
                    alert("invalid code");
                }
            }
        }
    }
</script>