<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link v-if="authenticated" to="/secure">Secure</router-link>
      <router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
      <router-link v-else to="/login">Login</router-link>
    </div>
    <router-view @authenticated="setAuthenticated"/>
  </div>
</template>

<script>
    export default {
        name: 'App',
        data() {
            return {
                authenticated: false,
                // this is only for testing purposes no actual app will have this
                // an api call will validate user credentials
                mockAccount: {
                    username: "megb",
                    password: "megb"
                },

                diplomas : [  
                  {
                    code: "600_6",
                    downloadLink: "dilpome_couleur_600_jpeg_6.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_7",
                    downloadLink: "dilpome_couleur_600_jpeg_7.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_8",
                    downloadLink: "dilpome_couleur_600_jpeg_8.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_9",
                    downloadLink: "dilpome_couleur_600_jpeg_9.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_10",
                    downloadLink: "dilpome_couleur_600_jpeg_10.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_11",
                    downloadLink: "dilpome_couleur_600_jpeg_11.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_12",
                    downloadLink: "dilpome_couleur_600_jpeg_12.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_13",
                    downloadLink: "dilpome_couleur_600_jpeg_13.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_14",
                    downloadLink: "dilpome_couleur_600_jpeg_14.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_15",
                    downloadLink: "dilpome_couleur_600_jpeg_15.jpeg",
                    hashintegrity: "",
                  },
                  {
                    code: "600_16",
                    downloadLink: "https://checksum-lab.github.io/chrome_extension.zip",
                    hashintegrity: "SHA-256 237ac0154e5d951d22f54c97300d3de81a88333c29ec66334c061edb44f2d368",
                  }


                ]
            }
        },
        methods: {
            setAuthenticated(status) {
                this.authenticated = status;
            },
            logout() {
                this.authenticated = false;
            }
        }
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  padding-right: 10px;
}

#nav a:not(:first-child) {
  border-left: 1px solid #2c3e50;
  padding-left: 10px; 
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
